.navbar-item {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background: white;
  padding: 2rem 0;
}
.icon-navbar {
  display: flex;
  gap: 0.5rem;
}
.icon-navbar div:nth-child(1) {
  position: relative;
}
.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 122, 73);
  width: 0.75rem;
  height: 0.95rem;
  color: black;
  padding: 0.1rem;
  margin: 0;
}
